<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${elemento.nombre}">Pais</title>
</head>
<body>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Región</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${elemento.id}">ID</td>
      <td th:text="${elemento.nombre}">Nombre</td>
      <td th:text="${elemento.region.nombre}">Región</td>
    </tr>
    </tbody>
  </table>
  <p><a th:href="@{/paises/e/{id}(id=${elemento.id})}">Editar Pais</a></p>
  <p><a th:href="@{/paises/d/{id}(id=${elemento.id})}">Eliminar Pais</a></p>
  <p><a th:href="@{/paises}">Volver a Paises</a></p>
</body>
</html>